@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --fundo: linear-gradient(-45deg, #0e0e0e 29.69%, #16181D 65.1%, #000000 97.4%);
    --red:#2759ce;
    --white:rgb(255, 255, 255);
    --dark:#121212;
    --no-color: rgba(255, 255, 255, 0); 
}
body{
    color: var(--white);
    background: var(--fundo);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50% ;
    }
    50% {
        background-position: 100% 50% ;
    }
    100% {
        background-position: 0% 50% ;
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    width: 100%;
    transition: all 2.2s;
    position: fixed;
}

.logo-ms {
    width: 100px;
    height: 100px;
    cursor: pointer;
}


.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--white);
    font-size: 17px;
    font-weight: 500;

}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--white);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--white);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
    .home-text{
        max-width: 37rem;
    }
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;

}
.home-btn:hover{
    background: #000000;

}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;

}
.home-btn:hover{
    background: #121212;

}

.animated svg{
    width: 100%;
    height: 460px;
    cursor: none;
}

.icon img{
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;
 

}



@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--dark);
        
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    

    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .animated svg{
        width: 100%;
        height: 100%;
        padding: auto auto;
    }

    .logo-ms {
        width: 40px;
        height: 40px;
    }
}
